@import url('https://fonts.googleapis.com/css?family=Quicksand');

* {
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: "Quicksand";
    text-align: center;
    margin-top: 5%;
}

@keyframes woo {
    /* cube go brr */

    0% {background-color:rgb(202, 20, 81);  margin-left: 40%;}
    50% {background-color: rgb(228, 108, 52); margin-left: 57.5%; transform: rotate(90deg);}
    100% {background-color:rgb(202, 20, 81);;  margin-left: 40%; transform:rotate(180deg);}
}

@keyframes wah {
    /* cube go brr */

    0% {box-shadow: 0 0px 15px 5px rgba(202, 20, 81, 1);}
    50% {box-shadow: 0 0px 15px 5px rgba(228, 108, 52, 1);}
    100% {box-shadow: 0 0px 15px 5px rgba(202, 20, 81, 1);}
}

@keyframes bah {
    /* cube go brr */

    0% {color:rgb(202, 20, 81);}
    50% {color: rgb(228, 108, 52);}
    100% {color:rgb(202, 20, 81);}

}
.cube {
    width:50px;
    height:50px;
    animation-name: woo;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 3px;
}

.button {

    color: rgb(0, 0, 0);
    background-color: white;
    font-size: large;
    width:250px;
    height:50px;
    animation-name: wah;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border: none;
    cursor: pointer;

}

h1 {

    animation-name: bah;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    text-shadow: 2px 2px rgb(255, 255, 255);

}
